<form [formGroup]="addPositionForm" class="fd-flex fd-flex-column fd-margin-auto">
  <div class="grid">
    <div class="col-12 fd-flex fd-flex-column">
      <p-calendar formControlName="startingDate" dateFormat="dd/mm/yy" placeholder="{{'startingDate' | translate}}" [showIcon]="true"></p-calendar>
    </div>
    <div class="col-12 fd-flex fd-flex-column">
      <input formControlName="client" type="text" pInputText placeholder="{{'client' | translate}}">
    </div>
    <div class="col-12 fd-flex fd-flex-row">
      <input class="address" formControlName="address" type="text" pInputText placeholder="{{'address' | translate}}">
      <p-toggleButton onLabel="{{'fullRemote' | translate}}" offLabel="{{'partialRemote' | translate}}"
                      onIcon="pi pi-check" offIcon="pi pi-times"
                      [formControl]="$any(addPositionForm).controls['isFullRemote']"></p-toggleButton>
    </div>
    <div class="col-8 fd-flex fd-flex-column">
      <input formControlName="dailyRate" type="number" pInputText placeholder="{{'dailyRate' | translate}}">
    </div>
    <div class="col-4 fd-flex fd-flex-column">
      <p-dropdown formControlName="currency" [options]="currencies" placeholder="{{'currency' | translate}}"></p-dropdown>
    </div>

    <div class="col-12 fd-flex fd-flex-row ">
      <p-fieldset legend="{{'mission' | translate}}" class="fd-flex fd-flex-row fd-full-width">
        <div class="col-12 ">
          <input class="fd-full-width" formControlName="role" type="text" pInputText
                 placeholder="{{'role' | translate}}">
        </div>
        <div class="col-12"><input class="fd-full-width" formControlName="project" type="text" pInputText
                                   placeholder="{{'project' | translate}}"></div>
        <div class="col-12"><input class="fd-full-width" formControlName="tribe" type="text" pInputText
                                   placeholder="{{'tribe' | translate}}"></div>
        <div class="col-12"><input class="fd-full-width" formControlName="manager" type="text" pInputText
                                   placeholder="{{'manager' | translate}}"></div>
      </p-fieldset>
    </div>

    <div class="col-12 fd-flex fd-flex-row ">
      <p-fieldset legend="{{'intermediary' | translate}}" class="fd-flex fd-flex-row fd-full-width">
        <div class="col-12 ">
          <input class="fd-full-width" formControlName="intermediaryCorporation" type="text" pInputText
                 placeholder="{{'corporation' | translate}}">
        </div>
        <div class="col-12"><input class="fd-full-width" formControlName="intermediaryName" type="text" pInputText
                                   placeholder="{{'name' | translate}}"></div>
        <div class="col-12"><input class="fd-full-width" formControlName="intermediaryPhones" type="text" pInputText
                                   placeholder="{{'phones' | translate}}"></div>
        <div class="col-12"><input class="fd-full-width" formControlName="intermediaryEmail" type="text" pInputText
                                   placeholder="{{'email' | translate}}"></div>
      </p-fieldset>
    </div>

    <!--<div class="col-8">
      <p-timeline [value]="statusHistory" layout="horizontal">
        <ng-template pTemplate="content" let-status>
          {{status}}
        </ng-template>
      </p-timeline>
    </div>

    <div class="col-4 fd-flex fd-flex-column" style="justify-content: center">
      <div class="p-inputgroup">
        <input type="text" formControlName="newStatus" pInputText placeholder="{{'addStatus' | translate}}">
        <button type="button" pButton pRipple icon="pi pi-plus-circle" styleClass="p-button-warn" (click)="addStatus()"></button>
      </div>
    </div>-->

    <div class="col-12">
      <input  class="address" formControlName="initialStatus" type="text" pInputText placeholder="{{'initialStatus' | translate}}">
    </div>

    <div class="col-12 fd-flex fd-flex-row">
      <textarea class="fd-full-width"  style="height: 100px" pInputTextarea placeholder="{{'remarks' | translate}}"></textarea>
    </div>

    <div class="col-12 fd-flex fd-flex-row fd-space-between" style="padding-top: 20px; padding-bottom: 0">
      <button pButton pRipple class="p-button-outlined" label="{{'cancel' | translate}}" (click)="cancel()"></button>
      <p-button [disabled]="!addPositionForm.valid" class="save-btn" label="{{'save' | translate}}" (click)="savePosition()"></p-button>
    </div>
  </div>
</form>
