@if (isPositionsEmpty()) {
  <div class="empty-positions-container">
    <div class="empty-positions-message">
      <span class="text-xl">{{ 'noPositionsYet' | translate }}</span>
    </div>
  </div>
} @else {
  <div class="status-board">
    <div *ngFor="let status of statusLabels"
         class="status-column"
         (onDragEnter)="onDragEnter(status)"
         pDroppable="position"
         (onDragLeave)="onDragLeave(status)"
         (onDrop)="onDrop(status)"
         [ngClass]="{'drop-target': currentDropTarget === status}">

      <header class="status-header">
        <div class="header-content">
          <h2>{{ status | translate }}</h2>
          <p-chip [label]="getPositionsForStatus(findStatusLabelFromValue(status)).length.toString()"
                  styleClass="status-count-chip"></p-chip>
        </div>
      </header>

      <div class="cards-container">
        <app-position-card
          *ngFor="let position of getPositionsForStatus(findStatusLabelFromValue(status))"
          [position]="position"
          class="kanban-card"
          pDraggable="position"
          (onDragStart)="onDragStart(position)"
          (onDragEnd)="onDragEnd(status)">
        </app-position-card>
      </div>
    </div>
  </div>
}
<p-confirmDialog [style]="{width: '500px'}" [baseZIndex]="10000" acceptLabel="{{'yes' | translate}}"
                 rejectLabel="{{'no' | translate}}" rejectButtonStyleClass="p-button-text"
                 acceptButtonStyleClass="p-button"></p-confirmDialog>
