<div class="status-board">
  <div *ngFor="let status of statusLabels" class="status-column"
       pDroppable="position"
       (onDrop)="onDrop($event, status)">
    <h2>{{ status | translate }}</h2>
    <div class="cards-container">
      <app-position-card
        *ngFor="let position of getPositionsForStatus(findStatusLabelFromValue(status))"
        [position]="position"
        pDraggable="position"
        (onDragStart)="onDragStart(position)"
        (onDragEnd)="onDragEnd()">
      </app-position-card>
    </div>
  </div>
</div>
