<div class="grid fd-flex fd-flex-column" *ngIf="resetPasswordForm">
  <form [formGroup]="resetPasswordForm">
    <div class="col-12">
      <p-floatlabel variant="on">
        <input id="email" type="text" formControlName="email" pInputText>
        <label for="email">{{ 'email' | translate }}</label>
      </p-floatlabel>
    </div>
    <div class="col-12">
      <button class="fd-full-width" type="button" pButton label="{{ 'resetMyPassword' | translate }}"
              (click)="sendRestPasswordRequest()" [disabled]="resetPasswordForm.invalid"></button>
    </div>

    <div class="col-12 fd-flex fd-flex-column align-items-center">
      <p-button label="{{'gotBackToLogin' | translate}}" (click)="goToLogin()" class="login-button"
                styleClass="p-button-link"></p-button>
    </div>
  </form>
</div>

