<form [formGroup]="newPasswordForm" class="fd-full-width" (ngSubmit)="onSubmit()">
  <div class="grid">
    <div class="col-12 field">
      <p-floatlabel variant="on">
        <p-password id="password"
                    [toggleMask]="true"
                    class="fd-full-width"
                    formControlName="newPassword"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right">
          <ng-template pTemplate="header">
            <h6>{{ 'password' | translate }}</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">{{ 'suggestions' | translate }}</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>{{ 'atLeastOneLowercase' | translate }}</li>
              <li>{{ 'atLeastOneUppercase' | translate }}</li>
              <li>{{ 'atLeastOneSymbol' | translate }}</li>
              <li>{{ 'atLeastOneDigit' | translate }}</li>
              <li>{{ 'min8chars' | translate }}</li>
            </ul>
          </ng-template>
        </p-password>
        <label for="password">{{ 'password' | translate }}</label>
      </p-floatlabel>
    </div>
    <div class="col-12 field">
      <p-floatlabel variant="on">
        <p-password id="confirmPassword"
                    [toggleMask]="true"
                    [feedback]="false"
                    class="fd-full-width ng-invalid ng-dirty"
                    formControlName="confirmPassword"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                    [ngClass]="{'ng-invalid ng-dirty' : newPasswordForm.hasError('notSame')}">
        </p-password>
        <label for="confirmPassword">{{ 'confirmPassword' | translate }}</label>
      </p-floatlabel>
    </div>

    <div class="col-12">
      <button class="fd-full-width" type="submit" [disabled]="!newPasswordForm.valid" pButton pRipple
              label="{{'resetMyPassword' | translate}}"></button>
    </div>
  </div>
</form>
