.simple-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 16px;
  //margin: 24px;
  //max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: grab;

  /* Smooth transitions for hover effects */
  transition: transform 0.1s ease, box-shadow 0.1s ease;

  /* On hover, slightly enhance the border and add a light shadow */
  &:hover {
    border-color: #ccc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }

  /* On active (dragging), indicate a grabbing state and subtle scale */
  &:active {
    cursor: grabbing;
    //transform: scale(1.01);
    //transition: transform 0.1s ease, box-shadow 0.1s ease;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-title {
  font-size: 16px;
  color: #555;
}

.menu-button {
  display: flex;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
}

.card-body {
  flex-grow: 1;
}

.card-row {
  margin-bottom: 12px;
  font-size: 14px;
}

.card-row i {
  margin-right: 8px;
}

.card-footer {
  display: flex;
  justify-content: right;
  margin-top: 12px;
}

.consult-button {
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
