.simple-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 12px 0.875rem 0 rgb(0 0 0 / 6%);
  padding: 16px;
  margin: 24px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-title {
  font-size: 16px;
  color: #555;
}


.menu-button {
  display: flex;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
}

.card-body {
  flex-grow: 1;
}

.card-row {
  margin-bottom: 12px;
  font-size: 14px;
}

.card-row i {
  margin-right: 8px;
}

.card-footer {
  display: flex;
  justify-content: right;
  margin-top: 12px;
}

.consult-button {
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
