<div class="simple-card">
  <div class="card-header">
    <div class="card-title">
      <!--<i class="fa-regular fa-building"></i>-->
      <strong>{{ position?.client }}</strong>
    </div>
    <!--<div class="menu-button">
      <p-menu #menu [popup]="true" [model]="menuActions"></p-menu>
      <button pButton icon="pi pi-ellipsis-h" class="menu-icon p-button-outlined" (click)="menu.toggle($event)"></button>
    </div>-->
    <div class="menu-button">
      <!--<button pButton icon="pi pi-ellipsis-h" class="menu-icon p-button-outlined" (click)="testABC()"></button>-->
      <p-button variant="outlined"
                [icon]="position.state === PositionState.Archived ? 'pi pi-refresh' : 'pi pi-briefcase'"
                (click)="switchPositionState()"
                [rounded]="true"
                [text]="true"
                [pTooltip]="(position.state === PositionState.Archived
               ? 'refreshPosition'
               : 'archivePosition')
               | translate"
                showDelay="1000"
                hideDelay="300"/>

      <!--<p-button icon="pi pi-check" [rounded]="true" [text]="true" />-->
    </div>
  </div>

  <div class="card-body">
    <div class="card-row">
      <i class="fa-solid fa-money-bills"></i>
      {{ position?.dailyRate?.amount }} {{ position?.dailyRate?.currency }}
    </div>
    <div class="card-row">
      <i class="fa-solid fa-map-location-dot"></i>
      {{ position?.address }}
    </div>
    <div class="card-row">
      <i class="fa-solid fa-people-arrows"></i>
      {{ position?.intermediary?.name }} - {{ position?.intermediary?.corporation }}
    </div>
  </div>

  <div class="card-footer">
    <p-button variant="outlined"
              rounded="true"
              (click)="viewPositionDetails()"
              label="{{ 'view' | translate }}">
    </p-button>
  </div>
</div>
