<div class="simple-card">
  <div class="card-header">
    <div class="card-title">
      @if (positionCardUtils.getMostRecentStatusLabel(position) === StatusLabelEnum.ResponseReceived) {
        <p-tag [severity]="position.isFreelancerAccepted ? 'success' : 'danger' " [value]="position?.client"
               rounded="true"/>
      } @else {
        <strong>{{ position?.client }}</strong>
      }
    </div>
    <div class="menu-button fd-flex fd-flex-row gap-2">
      <!-- Context menu for more actions -->
      <p-menu #menu [model]="menuActions" [popup]="true" [appendTo]="'body'" styleClass="fd-position-menu-overlay"></p-menu>
      <p-button variant="outlined"
                icon="pi pi-ellipsis-v"
                (click)="onMenuButtonClick($event, menu)"
                [rounded]="true"
                [text]="true"
                [pTooltip]="'position-contextual-menu.title' | translate"
                showDelay="1000"
                hideDelay="300"></p-button>

      <!-- Existing archive/refresh button -->
      <!--<p-button variant="outlined"
                [icon]="position.state === PositionState.Archived ? 'pi pi-refresh' : 'pi pi-briefcase'"
                (click)="switchPositionState()"
                [rounded]="true"
                [text]="true"
                [pTooltip]="(position.state === PositionState.Archived
               ? 'refreshPosition'
               : 'archivePosition')
               | translate"
                showDelay="1000"
                hideDelay="300"/>-->
    </div>
  </div>

  <div class="card-body">
    <div class="card-row">
      <i class="fa-solid fa-money-bills"></i>
      {{ position?.dailyRate?.amount }} {{ position?.dailyRate?.currency }}
    </div>
    <div class="card-row">
      <i class="fa-solid fa-map-location-dot"></i>
      {{ position?.address }}
    </div>
    <div class="card-row">
      <i class="fa-solid fa-people-arrows"></i>
      {{ position?.intermediary?.name }} - {{ position?.intermediary?.corporation }}
    </div>
  </div>

  <div class="card-footer">
    <p-button variant="outlined"
              rounded="true"
              (click)="viewPositionDetails()"
              label="{{ 'view' | translate }}">
    </p-button>
  </div>
</div>

<!--
<p-confirmDialog [style]="{ width: '50vw' }"
                 [baseZIndex]="10000"
                 key="confirmDeletion"
                 acceptLabel="{{'no' | translate}}"
                 rejectLabel="{{'no' | translate}}"
                 rejectButtonStyleClass="p-button-text"
                 acceptButtonStyleClass="p-button-danger">
</p-confirmDialog>
-->
