<ng-container>
  <app-accordion title="{{'onGoing' | translate}}"
                 [positionState]="PositionState.Active"
                 [isExpanded]="true">
  </app-accordion>
  <app-accordion title="{{'archived' | translate}}"
                 [positionState]="PositionState.Archived"
                 [isExpanded]="false">
  </app-accordion>
  <p-button rounded="true"
            icon="pi pi-plus"
            class="floating"
            (click)="goToAddPosition()">

  </p-button>

  <ng-container>
    <app-position-detail></app-position-detail>
  </ng-container>
</ng-container>
