<div class="fd-flex fd-flex-row fd-align-items-center layout-topbar fd-space-between">
  <div class="fd-flex fd-flex-row fd-align-items-center ">
    <div class="fd-flex fd-flex-row">
      <img alt="freelance dashboard logo" src="assets/icons/freelance_dashboard_logo.svg" class="logo">
      <p class="text-xl font-bold hide-for-mobile">{{'app-title' | translate}}</p>
    </div>
  </div>
  <div class="fd-flex fd-flex-row fd-align-items-center  fd-full-width search-bar-container">
    <input type="text" pInputText placeholder="{{'search' | translate}}" class="search-field"
           [formControl]="searchControl"/>
  </div>

  <div class="fd-flex fd-flex-row-reverse fd-align-items-center ">
    <div *ngIf="freelancer" class="connected-user-container" (click)="menu.toggle($event)">
      <p-avatar *ngIf="!freelancer?.picture" class="avatar"
                icon="pi pi-user"
                pBadge
                severity="success"
                styleClass="p-mr-2"
                shape="circle"
                size="large">
      </p-avatar>
      <p-avatar *ngIf="freelancer?.picture" class="avatar"
                [image]="freelancer?.picture"
                pBadge
                severity="success"
                styleClass="p-mr-2"
                shape="circle"
                size="large">
      </p-avatar>
    </div>
  </div>
</div>

<p-menu #menu [popup]="true" [model]="items"></p-menu>
