.card {
  max-width: 800px;
  background: #ffffff;
  color: #495057;
  //box-shadow: 0 4px 30px rgba(221, 224, 255, .54);
  box-shadow: 0 12px 0.875rem 0 rgb(0 0 0 / 6%);
  border-radius: 1rem;

  padding: 2rem;
  margin: 2rem auto;
}
