<div class="fd-full-width fd-full-height fd-flex fd-flex-column align-items-center">
  <div class="grid" style="max-width: 400px">
    <div class="col-12 fd-flex fd-flex-row justify-content-center align-items-center" style="padding-bottom: 40px">
      <img class="logo" src="assets/icons/freelance_dashboard_logo.svg">
      <div class="divider">
        <p-divider layout="vertical"></p-divider>
      </div>
      <p class="text-xl font-bold app-title">{{'app-title' | translate}}</p>
    </div>

    <div class="col-12 fd-flex fd-flex-column" style="padding-bottom: 30px">
      <div>
        <p [innerHTML]="'createYourAccount' | translate" class="text-3xl font-bold no-margin"></p>
        <p *ngIf="!isRedirectedFromLogin" [innerHTML]="'orConnect' | translate: {url: 'login'}" class="no-margin"></p>
      </div>
    </div>


    <form [formGroup]="signupForm" class=" fd-full-width">
      <div class="col-12 fd-flex fd-flex-row justify-content-center">
        <input class="fd-full-width" formControlName="firstname" id="firstname" pInputText
               placeholder="{{'firstname' | translate}}"
               type="text">
      </div>
      <div class="col-12 fd-flex fd-flex-row justify-content-center">
        <input class="fd-full-width" formControlName="lastname" id="lastname" pInputText
               placeholder="{{'lastname' | translate}}"
               type="text">
      </div>
      <div class="col-12 fd-flex fd-flex-row justify-content-center">
        <input class="fd-full-width" formControlName="email" id="username" pInputText
               placeholder="{{'email' | translate}}"
               type="text"
               autocomplete="email ">
      </div>
      <div class="col-12 fd-flex fd-flex-row justify-content-center fd-full-width ">
        <p-password [toggleMask]="true" class="fd-full-width" formControlName="password"
                    placeholder="{{'password' | translate}}"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                    (keyup.enter)="signupWhenEnterPushed()">
          <ng-template pTemplate="header">
            <h6>{{'password' | translate}}</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">{{'suggestions' | translate}}</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>{{'atLeastOneLowercase' | translate}}</li>
              <li>{{'atLeastOneUppercase' | translate}}</li>
              <li>{{'atLeastOneSymbol' | translate}}</li>
              <li>{{'atLeastOneDigit' | translate}}</li>
              <li>{{'min8chars' | translate}}</li>
            </ul>
          </ng-template>
        </p-password>
      </div>
    </form>

    <div class="col-12 fd-flex fd-flex-column">
      <button (click)="signupUser()" [disabled]="signupForm.invalid" label="{{'createMyAccount' | translate}}" pButton
              pRipple type="button"></button>
    </div>


    <div *ngIf="!isRedirectedFromLogin" class="col-12">
      <p-divider></p-divider>
    </div>

    <div #socialButtons *ngIf="!isRedirectedFromLogin" class="fd-full-width">
      <div class="col-12 fd-flex fd-flex-column">
        <button class="p-button-outlined" icon="pi pi-linkedin" label="{{'signInViaLinkedIn' | translate}}" pButton
                pRipple
                type="button"
                (click)="signupViaSocial()"></button>

      </div>

      <div class="col-12 fd-flex fd-flex-column">
        <button class="p-button-outlined" icon="pi pi-google" label="{{'signInViaGoogle' | translate}}" pButton
                pRipple type="button"
                (click)="signupViaSocial()"></button>
      </div>
    </div>


  </div>
</div>
