<ng-container>
  <app-accordion title="{{'onGoing' | translate}}"
                 [positionState]="PositionState.Active"
                 [isExpanded]="true">
  </app-accordion>
  <app-accordion title="{{'archived' | translate}}"
                 [positionState]="PositionState.Archived"
                 [isExpanded]="false">
  </app-accordion>

  <button style="" pButton pRipple type="button"
          icon="pi pi-plus" class="floating add-btn p-button-rounded"
          (click)="goToAddPosition()"></button>

  <ng-container>
    <app-position-detail></app-position-detail>
  </ng-container>
</ng-container>
