<ng-container>
  <app-accordion [title]="'En cours'"
                 [positions]="positions"
                 [isArchive]="false"
                 [onlyArchived]="false"
                 [isLatestYear]="false"
                 [positionState]="PositionState.Active">
  </app-accordion>
  <app-accordion [title]="'Archivés'"
                 [positions]="positions"
                 [isArchive]="true"
                 [onlyArchived]="false"
                 [isLatestYear]="false"
                 [positionState]="PositionState.Archived">
  </app-accordion>

  <button style="" pButton pRipple type="button"
          icon="pi pi-plus" class="floating add-btn p-button-rounded"
          (click)="goToAddPosition()"></button>

  <button (click)="isDrawerVisible = true">Open Drawer</button>

  <!--<app-drawer [position]="'right'" [visible]="isDrawerVisible" (visibleChange)="toggleDrawer($event)">
    <h3>Drawer Content</h3>
    <p>Place your custom content here.</p>
    <button (click)="isDrawerVisible = false">Close</button>
  </app-drawer>-->

  <p-drawer header="Right Drawer" [(visible)]="isDrawerVisible" position="right">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
  </p-drawer>
</ng-container>
