<ng-container>
  <app-accordion [title]="'En cours'"
                 [positions]="positions"
                 [isArchive]="false"
                 [onlyArchived]="false"
                 [isLatestYear]="false"
                 [positionState]="PositionState.Active">
  </app-accordion>
  <app-accordion [title]="'Archivés'"
                 [positions]="positions"
                 [isArchive]="true"
                 [onlyArchived]="false"
                 [isLatestYear]="false"
                 [positionState]="PositionState.Archived">
  </app-accordion>

  <button style="" pButton pRipple type="button"
          icon="pi pi-plus" class="floating add-btn p-button-rounded"
          (click)="goToAddPosition()"></button>
</ng-container>
