<div class="grid nested-grid">
  <div class="col-12">
    <p-fieldset legend="{{'appearance' | translate}}">
      <div class="grid theme-switch-grid">
        <div class="col-12 md:col-8">
          <h3 class="theme-switch-title text-gray-800 dark:text-gray-100">{{'colorTheme' | translate}}</h3>
          <p class="theme-switch-description text-gray-600 dark:text-gray-300">{{'colorThemeDescription' | translate}}</p>
        </div>
        <div class="col-12 md:col-4 flex md:justify-end items-center gap-3 theme-switch-control">
          <p-inputSwitch inputId="theme-toggle" [ngModel]="isDarkTheme"
                         (ngModelChange)="onThemeToggle($event)"></p-inputSwitch>
          <label class="theme-switch-label text-gray-800 dark:text-gray-100" for="theme-toggle">
            {{ isDarkTheme ? ('darkTheme' | translate) : ('lightTheme' | translate) }}
          </label>
        </div>
      </div>
    </p-fieldset>
  </div>
  <div class="col-12">
    <p-fieldset legend="{{'personalInformations' | translate}}">
      <form [formGroup]="personalInformationForm" (ngSubmit)="submitFreelancerDataUpdate(UpdateType.PERSONAL_INFO)">
        <div class="grid">
          <div class="field col-12 first-line-top-margin">
            <p-floatlabel variant="on">
              <input formControlName="email" id="email" pInputText type="email">
              <label for="email">{{ 'email' | translate }}</label>
            </p-floatlabel>
          </div>

          <div class="field lg:col-6 xl:col-6 col-12">
            <p-floatlabel variant="on">
              <input formControlName="firstname" type="text" id="firstname" pInputText>
              <label for="firstname">{{ 'firstname' | translate }}</label>
            </p-floatlabel>
          </div>
          <div class="field lg:col-6 xl:col-6 col-12">
            <p-floatlabel variant="on">
              <input formControlName="lastname" type="text" id="lastname" pInputText>
              <label for="lastname">{{ 'lastname' | translate }}</label>
            </p-floatlabel>
          </div>
          <div class="col-12">
            <button [disabled]="!personalInformationForm.valid" label="{{'modifyInformations' | translate}}" pButton pRipple
                    type="submit"></button>
          </div>
        </div>
      </form>
    </p-fieldset>
  </div>
  <div class="col-12">
    <p-fieldset legend="{{'password' | translate}}">
      <form [formGroup]="passwordModificationForm" (ngSubmit)="submitFreelancerDataUpdate(UpdateType.PASSWORD)">
        <div class="grid">
          <div class="col-12 field">
            <p-floatlabel variant="on">
              <p-password id="password"
                          [toggleMask]="true"
                          class="fd-half-width"
                          formControlName="newPassword"
                          styleClass="p-password p-component p-inputwrapper p-input-icon-right">
                <ng-template pTemplate="header">
                  <h6>{{ 'password' | translate }}</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="mt-2">{{ 'suggestions' | translate }}</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>{{ 'atLeastOneLowercase' | translate }}</li>
                    <li>{{ 'atLeastOneUppercase' | translate }}</li>
                    <li>{{ 'atLeastOneSymbol' | translate }}</li>
                    <li>{{ 'atLeastOneDigit' | translate }}</li>
                    <li>{{ 'min8chars' | translate }}</li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="password">{{ 'password' | translate }}</label>
            </p-floatlabel>
          </div>
          <div class="col-12 fd-flex fd-flex-column">
            <p-floatlabel variant="on">
              <p-password [feedback]="false"
                          [ngClass]="{'ng-invalid ng-dirty' : passwordModificationForm.hasError('notSame')}"
                          [toggleMask]="true"
                          class="fd-half-width"
                          formControlName="confirmPassword"
                          id="confirmPassword"
                          styleClass="p-password p-component p-inputwrapper p-input-icon-right">
              </p-password>
              <label for="confirmPassword">{{ 'confirmPassword' | translate }}</label>
            </p-floatlabel>
          </div>
          <div class="col-12">
            <button type="submit" [disabled]="!passwordModificationForm.valid" pButton pRipple
                    label="{{'changePassword' | translate}}"></button>
          </div>
        </div>
      </form>
    </p-fieldset>
  </div>


  <div class="col-12">
    <p-fieldset legend="{{'deleteMyAccount' | translate}}">
      <div class="grid">
        <div class="col-12">
          <p>{{ 'accountDeletingWarning' | translate}}</p>
        </div>
        <div class="col-12">
          <button type="button" pButton pRipple label="{{'deleteMyAccount' | translate}}"
                  class="p-button-danger" (click)="sendDeleteMyAccountRequest()"></button>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
