<div class="fd-full-width fd-full-height fd-flex fd-flex-column align-items-center">
  <div class="grid max-width-400">
    <div class="col-12 fd-flex fd-flex-row justify-content-center align-items-center padding-bottom-40">
      <img class="logo" src="assets/icons/freelance_dashboard_logo.svg">
      <div class="divider">
        <p-divider layout="vertical"></p-divider>
      </div>
      <p class="text-xl font-bold app-title">{{ 'app-title' | translate }}</p>
    </div>

    <div class="col-12 fd-flex fd-flex-column" style="padding-bottom: 30px">
      <p [innerHTML]="'typeYourNewPassword' | translate" *ngIf="passwordResetToken; else typeYourNewPasswordTemplate"
         class="text-3xl font-bold no-margin"></p>
      <ng-template #typeYourNewPasswordTemplate>
        <p [innerHTML]="'resetYouPassword' | translate" class="text-3xl font-bold no-margin"></p>
      </ng-template>
    </div>

    <div class="col-12 fd-flex fd-flex-column">
      <ng-container *ngIf="passwordResetToken; else resetPasswordTemplate">
        <p-message *ngIf="!isTokenValid; else newPwdForm" severity="error"
                   text="{{'invalidPasswordResetToken' | translate}}"></p-message>
        <ng-template #newPwdForm>
          <app-new-password-form [passwordResetToken]="passwordResetToken"></app-new-password-form>
        </ng-template>
      </ng-container>

      <ng-template #resetPasswordTemplate>
        <p-message *ngIf="isRequestSent; else resetPwdForm" severity="success"
                   text="{{'passwordResetInstructionsSent' | translate}}"></p-message>
        <ng-template #resetPwdForm>
          <app-reset-password-form (isRequestSent)="onRequestSent()"></app-reset-password-form>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
