/* You can add global styles to this file, and also import other style files */
//@import 'gridlex/dist/gridlex.min.css';
//@import 'primeflex/primeflex.scss';
@import '../node_modules/primeflex/primeflex';
@import 'assets/fonts/spoof/stylesheet.css';
@import 'colors.scss';

/*@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';*/

html,
body {
  font-family: 'Spoof', sans-serif;
  //background: #EFF3F8;
  background: #F7F8FC;
  color: var(--text-color);
  margin: 0 !important;
  //height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Spoof', sans-serif;
}

@media (min-width: 0) and (max-width: 1479px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1480px) {
  .hide-for-desktop {
    display: none;
  }
}

* {
  font-family: 'Spoof', sans-serif;
}


.show-outline {
  outline: 1px dashed red;
}


.fd-flex {
  display: flex;
}

.fd-flex-column {
  flex-direction: column;
}

.fd-flex-column-reverse {
  flex-direction: column-reverse;
}

.fd-flex-row {
  flex-direction: row;
}

.fd-flex-row-reverse {
  flex-direction: row-reverse;
}

.fd-space-between {
  justify-content: space-between;
}

.fd-align-items-center {
  align-items: center;
}

.fd-full-width {
  width: 100% !important;
}

.fd-full-height {
  height: 100% !important;
}

.fd-justify-content-center {
  justify-content: center;
}

.fd-rounded-edge {
  border: 1px lightgray solid;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .15);
}

.fd-margin-auto {
  margin: auto;
}

.p-button {
  border-radius: 1rem !important;
  height: 45px;
}

input {
  height: 45px;
  padding-left: 15px !important;
  border-radius: 1rem !important;
}

textarea {
  padding-left: 15px !important;
  border-radius: 1rem !important;
}

p-dropdown {
  height: 45px !important;
}

.margin-left-right-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.pointer {
  cursor: pointer;
}
