/* You can add global styles to this file, and also import other style files */
//@import '~gridlex/dist/gridlex.min.css';
@import '~primeflex/primeflex.scss';
@import 'assets/fonts/spoof/stylesheet.css';
@import 'colors.scss';

html,
body {
  font-family: 'Spoof', sans-serif;
  background: #EFF3F8;
  color: var(--text-color);
  margin: 0 !important;
  height: 100%;
}

@font-face {
  font-family: 'Spoof', sans-serif;
}


* {
  font-family: 'Spoof', sans-serif;
}


.show-outline {
  outline: 1px dashed red;
}


.fd-flex {
  display: flex;
}

.fd-flex-column {
  flex-direction: column;
}

.fd-flex-column-reverse {
  flex-direction: column-reverse;
}

.fd-flex-row {
  flex-direction: row;
}

.fd-flex-row-reverse {
  flex-direction: row-reverse;
}

.fd-space-between {
  justify-content: space-between;
}

.fd-full-width {
  width: 100%;
}

.fd-full-height {
  height: 100%;
}

.fd-justify-content-center {
  justify-content: center;
}

.fd-rounded-edge {
  border: 1px lightgray solid;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .15);
}

.p-button {
  border-radius: 1rem !important;
}
