<div class="grid nested-grid">
  <div class="col-12">
    <p-fieldset legend="{{'personalInformations' | translate}}">
      <form [formGroup]="personalInformationForm" (ngSubmit)="submitFreelancerDataUpdate(UpdateType.PERSONAL_INFO)">
        <div class="grid">
          <div class="field col-12 first-line-top-margin">
            <span class="p-float-label">
              <input formControlName="email" type="text" id="email" pInputText>
              <label for="email">{{ 'email' | translate }}</label>
            </span>
          </div>

          <div class="field lg:col-6 xl:col-6 col-12">
            <span class="p-float-label">
              <input formControlName="firstname" type="text" id="firstname" pInputText>
              <label for="firstname">{{ 'firstname' | translate }}</label>
            </span>
          </div>
          <div class="field lg:col-6 xl:col-6 col-12">
            <span class="p-float-label">
              <input formControlName="lastname" type="text" id="lastname" pInputText>
              <label for="lastname">{{ 'lastname' | translate }}</label>
            </span>
          </div>
          <div class="col-12">
            <button type="submit" pButton pRipple label="{{'modifyInformations' | translate}}" [disabled]="!personalInformationForm.dirty"></button>
          </div>
        </div>
      </form>
    </p-fieldset>
  </div>
  <div class="col-12">
    <p-fieldset legend="{{'password' | translate}}">
      <form [formGroup]="passwordModificationForm" (ngSubmit)="submitFreelancerDataUpdate(UpdateType.PASSWORD)">
        <div class="grid">
          <div class="col-12 field">
            <span class="p-float-label">
              <p-password id="password"
                          [toggleMask]="true"
                          class="fd-full-width"
                          formControlName="newPassword"
                          styleClass="p-password p-component p-inputwrapper p-input-icon-right">
                <ng-template pTemplate="header">
                  <h6>{{ 'password' | translate }}</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="mt-2">{{ 'suggestions' | translate }}</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>{{ 'atLeastOneLowercase' | translate }}</li>
                    <li>{{ 'atLeastOneUppercase' | translate }}</li>
                    <li>{{ 'atLeastOneSymbol' | translate }}</li>
                    <li>{{ 'atLeastOneDigit' | translate }}</li>
                    <li>{{ 'min8chars' | translate }}</li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="password">{{ 'password' | translate }}</label>
            </span>
          </div>
          <div class="col-12 field">
          <span class="p-float-label">
            <p-password id="confirmPassword"
                        [toggleMask]="true"
                        [feedback]="false"
                        class="fd-full-width ng-invalid ng-dirty"
                        formControlName="confirmPassword"
                        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                        [ngClass]="{'ng-invalid ng-dirty' : passwordModificationForm.hasError('notSame')}">
            </p-password>
            <label for="confirmPassword">{{ 'confirmPassword' | translate }}</label>
          </span>
          </div>
          <div class="col-12">
            <button type="submit" [disabled]="!passwordModificationForm.valid" pButton pRipple
                    label="{{'changePassword' | translate}}"></button>
          </div>
        </div>
      </form>
    </p-fieldset>
  </div>


  <div class="col-12">
    <p-fieldset legend="{{'deleteMyAccount' | translate}}">
      <div class="grid">
        <div class="col-12">
          <p>{{ 'accountDeletingWarning' | translate}}</p>
        </div>
        <div class="col-12">
          <button type="button" pButton pRipple label="{{'deleteMyAccount' | translate}}"
                  class="p-button-danger" (click)="sendDeleteMyAccountRequest()"></button>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>

<p-confirmDialog [style]="{width: '500px'}" [baseZIndex]="10000" acceptLabel="{{'yes' | translate}}"
                 rejectLabel="{{'no' | translate}}" rejectButtonStyleClass="p-button-text"
                 acceptButtonStyleClass="p-button-danger"></p-confirmDialog>
